@font-face {
font-family: 'molodost';
src: url('../font/Molodo-font.otf');
}
@font-face {
font-family: 'clother';
src: url('../font/TRY_Clother-Regular.ttf');
}
.ssilka{
font-family: 'clother';
padding: 50px;
font-size: 30px;
color: black;
text-decoration:none;
/* width: 300px; */
display: flex;
justify-content: center;
}

a{
text-decoration:none;
color: black;
}

a:hover,
a:focus,
a:active{
transition: 0.5s;
color: aqua;
}

body{
font-family: 'molodost';
}
*{
margin: 0;
padding: 0;
}
.img{
width: 100%;
height: 100%;
} 
.container{
    margin: 0 auto;
    padding: 0 auto;
width: 1800px;
}
.center{
padding-top: 50px;
align-items: center;
text-align: center;
}
.box_list{
display: flex;
margin: 0 auto;
gap: 25px;
flex-direction: column;
justify-content: center;
width: 1000px;
padding: 25px;
}

.title{
padding: 25px;
text-align: center;
font-family: 'clother';
}

.news_card{
border: 1px solid black;
border-radius: 25px;
display: flex;
gap: 10px;
flex-direction: column;
padding: 20px;
}
.namedate{
align-items: center;
display: flex;
justify-content: space-between;
}
.opasitytext{
opacity: 50%;
}
p{
font-size: 20px;
}
.authorname{
font-size: 20px;
font-weight: bold;
color: blueviolet;
opacity: 70%;
}

h3{
font-size: 32px;
}

.text{
font-family: 'clother';
font-size: 24px;
}
.namenews{
font-family: 'clother';
}

.forma{
gap: 15px;
width: 400px;
display: flex;
flex-direction: column;
}
.block_form{
display: flex;
justify-content: center;
padding-bottom: 50px;
}

input{
border: 1px solid black;
border-radius: 15px;
font-family: 'clother';
font-size: 20px;
outline: none;
padding: 7px 15px;
}
textarea{
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'clother';
    font-size: 20px;
    outline: none;
    padding: 7px 15px;
}
label{
font-size: 25px;
}

button{
color: white;
background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'clother';
    font-size: 20px;
    outline: none;
    padding: 7px 15px;
}